extends layout

block scripts
    script.
        $(document).ready(function() {
            $.ajax({
                type: 'get',
                url: '/api/workoutPlan',
                success: function(data) {
                    alert(data);
                },
                error: function() {
                    alert('An error occured');
                }
            });
        });

block content
    p Variable value: #{myVar}