extends layout

block scripts
    script.
        var currentPrograms = document.getElementById('lol')
        for (var i = 0; i < 3; i++){
            var opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = i;
            currentPrograms.appendChild(opt);
        }

block content
    h4 Schedule:
    
    select#lol
       
    table
        tr
            th Exercise
            th Description
            th Set
            th Reps
        tr
    button(onclick='createProgram()') Create
        button(onclick='logProgram()') Log    
