extends layout

block scripts
    script(type='text/javascript' src='/scripts/index.js')
      
block content
    h4 Schedule:
    
    select#currentPrograms
    select#pastPrograms
       
    table#mainTable
        tr
            th Exercise
            th Description
            th Set
            th Reps
        tr
    
    button#createProgram Create
        button#logProgram Log    
