doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript' src='/scripts/jquery-3.1.1.min.js')
        
        block scripts
    body
        h1 ANELE Workout Planner ANELE
        h4 In order to allahu akbar - you need you need to work out!
        block content