extends layout

block includes
    script(type='text/javascript' src='/scripts/login.js')

block content
    h1 Login
    input(type='text' id='username') 
    <br/>
    input(type='password' id='password') 
    <br/>
    input(type='submit' id='submitButton')
    <br/>
    input(type='submit' id='signupButton', value='Sign up')